@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Baloo+2:wght@400..800&family=Baloo+Bhai+2:wght@400..800&family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Baloo 2", serif;
}
.bg-image-left {
    background-image: url(./assets/svg/Background-left.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 940px;
}
.collection-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url(./assets/images/collectionback.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}
.error-wrapper{
    background-image: url(./assets/svg/Shapes.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slick-prev:before,
.slick-next:before {
  color: black !important; 
  font-size: 26px !important;
}

.product-image-hover {
    position: relative;
    overflow: hidden;
    width: 290px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .product-image-hover img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
  }
  
  .product-image-hover:hover img {
    transform: scale(1.05);
  }
  
  .product-image-hover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .product-image-hover:hover .overlay {
    opacity: 1;
  }
  
  .overlay-icons {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #faf8f8;
    padding: 0px 8px;
    border-radius: 8px;
    margin-top: 200px;
  }
  
  .overlay-icons button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  